<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Documents</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-row text-wrap>
    <ion-label>
      Aadhar Card:
    </ion-label>
    <ion-label *ngIf="aadhar_selected">Document Selected</ion-label>
    <button ion-button (click)="openCamera('aadhar')">Select</button>
  </ion-row>
  <ion-row text-wrap>
    <ion-label>
      PAN Card:
    </ion-label>
    <ion-label *ngIf="pan_selected">Document Selected</ion-label>
    <button ion-button (click)="openCamera('pan')">Select</button>
  </ion-row>
  <ion-row text-wrap>
    <ion-label>
      Bank Details:
    </ion-label>
    <ion-label *ngIf="bank_details_selected">Document Selected</ion-label>
    <button ion-button (click)="openGallery('bank_details')">Select</button>
  </ion-row>
  <ion-row text-wrap>
    <ion-label>
      Salary Slip:
    </ion-label>
    <ion-label *ngIf="salary_slip_selected">Document Selected</ion-label>
    <button ion-button (click)="openFile('salary_slip')">Select</button>
  </ion-row>
  <ion-row text-wrap>
    <ion-label>
      Education Qualification Details:
    </ion-label>
    <ion-label *ngIf="education_selected">Document Selected</ion-label>
    <button ion-button (click)="openFile('education')">Select</button>
  </ion-row>
  <ion-row text-wrap>
    <ion-label>Signature</ion-label>
    <ion-label *ngIf="signature_selected">Document Selected</ion-label>
    <button ion-button (click)="openSignature()">Select</button>
  </ion-row>
  <button ion-button (click)="next()" block>Save and Next</button>
  <button ion-button (click)="previous()" outline block>Previous</button>
</ion-content>