@import 'theme/variables.scss';
page-tabs-controller {
    .tabbar {
        background-color: white !important;
    }
    .tab-button[aria-selected=true] {
        color: $prime !important;
        .tab-button-icon {
            color: $prime !important;
        }
    }
}