page-home {
    .slides {
        height: 60vh;
        width: auto;
    }

    .placeholder-img {
        width: auto;
        height: 60vh;
        background-color: blueviolet;
    }

    ion-card {
        // padding: 0 !important;
        width: 100%;
    }
}
