page-select-sign {
    .drawing-active {
        background: #d6fffc;
      }
      .title {
        text-align: center;
        font-weight: bold;
        padding: 10px;
      }
      ion-modal.custom-popup ion-backdrop {
        visibility: visible !important;
        z-index:0;
    }
    ion-modal.custom-popup .modal-wrapper{
        top: 20%;
        width:60%;
        height:300px;
        position:absolute;
    }
}
